{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'css/mdb.css'%}">
</head>
<body>
    <center>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'images/anusha.jpeg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">ANUSHA</h5>
          <p class="card-text">I want to become a developer (or) govt employee.</p>
          <a href="#" class="btn btn-primary">Click here to get more info</a>
        </div>
      </div>
    </center>


    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/mdb.js' %}"></script>


</body>
</html>